@import url(reset.css);
@import url(utilities.css);

/* 元件 */
.btn{
    background: #AA0601;
    padding: 6px 12px;
}
.btn-lg{
    border: none;
    background: #AA0601;
    font-weight: 700;
    padding: 16px 176px;
    color: white;
}
.btn:hover,.btn-lg:hover{
    background: #650300;
    color: white;
}
@media (max-width:992px){
    .btn-lg{     
        padding: 16px 136px;
    }
}
@media (max-width:767px){
    .product-design{
        background: url(../images/index-bg-sm.png) no-repeat center;
        background-size: cover;
    }
    .btn-lg{     
        padding: 16px 0;
        display: block;
        width: 100%;
    }
}


/* nav */
.nav {
  gap: 64px;
}
.nav-list a {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
}
@media (max-width: 767px) {
  .nav-logo {
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
  }
  .nav {
    gap: 0px;
    text-align: center;
    width: 100%;
  }
  .nav-list {
    width: 50%;
    border: 1px solid white;
  }
}

/* header */
.header{
    background: url(../images/home-header.png) no-repeat center;
    background-size: cover;
    height: 787px;
}
@media (max-width:992px){
    .header{
        background: url(../images/home-header-sm.png) no-repeat center;
        background-size: cover;
    }
}
@media (max-width:767px){
    .header{
        height: 396px;
    }
}
.header-content{
    text-align: right;
    height: 100%;
}
@media (max-width:767px){
    .header-content{
        padding-left: 12px;
        padding-right: 12px;
    }
}

/* main */
.main-img{
    display: block;
    margin: 0 auto;
    width: 100px;
    margin-bottom: 16px;
}

/* project2 */
.product-design{
    background: url(../images/index-bg.png) no-repeat center;
    background-size: cover;
}
@media (max-width:992px){
    .product-design{
        background: url(../images/index-bg-md.png) no-repeat top;
        background-size: cover;
    }
}
@media (max-width:767px){
    .product-design{
        background: url(../images/index-bg-sm.png) no-repeat center;
        background-size: cover;
    }
}

/* article */
.card{
    box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    height: 100%;
}
.card-item{
    padding: 16px;
    height: 205px;
}

/* form */
.form{
    width: 100%;
    padding: 6px 12px;
    background: rgb(0 0 0 / 0%);
}
::placeholder{
    opacity: 20%;
}
.opinion{
    height: 136px;
}
.label{
    display: block;
    margin-bottom: 8px;
}
.agree{
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

/* footer */
.footer {
  padding-top: 48px;
  padding-bottom: 32px;
}
.footer-content {
  border-bottom: 1px solid white;
  padding-bottom: 32px;
  margin-bottom: 32px;
}
.footer-nav {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 24px;
  gap: 48px;
}
.material-symbols-outlined {
  font-size: 36px;
  vertical-align: middle;
  margin-right: 22px;
}
.footer-community {
  display: flex;
  gap: 32px;
}
.footer-social {
  width: 40px;
}
.footer-list{
    gap: 48px;
  }
@media (max-width: 992px) {
  .footer {
    padding-bottom: 40px;
  }
  .footer-nav {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 12px;
  }
  .footer-community {
    gap: 16px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding: 24px 12px;
  }
  .footer-content {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .footer-nav {
    display: none;
  }
  .material-symbols-outlined {
    font-size: 16px;
    margin-right: 11px;
  }
  .footer-community {
    gap: 8px;
  }
  .footer-social {
    width: 24px;
  }
  .footer-list{
    gap: 0;
  }
}
